
body{
background: floralwhite;

}


    nav{
    text-align: center;
    background: #f5efef;
    border-color: #e7e7e7;
    width: 100%;
    height: 75px;
    
    border-top-color: rgb(231, 231, 231);
    border-right-color: rgb(231, 231, 231);
    border-bottom-color: rgb(231, 231, 231);
    border-left-color: rgb(231, 231, 231);
    
  
    
    
}

.ul-2 {
float: right;
position: absolute;
left: 670px;
bottom: 540px;
margin: 1em;
line-height: 0.2em;
color: #2073d9;
text-transform: uppercase;

}

.ul-3{
line-height: 0.2em;
position: absolute;
right:  670px;
bottom: 540px;
color: rgb(145, 141, 135);


}

.logo{
    margin: 1em;
    position: absolute;
    left: 12px;
    top: 12px;
    right: 450px;
}

ul li{
    display: inline-block;
    text-align: center;
    margin: 2em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left:  200px;
}






@media (min-width: 768px){
    ul li{
        display: inline-block;
        text-align: center;
        margin: 2em;
        text-decoration: none;
        position: relative;
        top: 0px;
        left:  200px;

    }
    
}

.content{
    
    text-align: center;
    height: 100%;
}

button{
    font-size: 24px;
    position: relative;
    top: 290px;
    width: 37%;
    right: 440px;
    background-color: #f26d21;
    color: #fff;
    border: 1px solid #f26d21;
    font-weight: 600;
    border-radius: 12px;
    font-weight: 600;

    min-width: 180px;
    font-size: 18px;
    height: 48px;
    line-height: 48px;

    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding: 0 12px;
    text-align: center;

    width: 130px;


}


p{
    
    font-size: 20px;
    max-width: 700px;

    color: #444444;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
    word-break: break-word;
    font-family: 'Lato';

    position: relative;
    top: 280px;
    width: 37%;
    left: 120px;
    

}

h1{
font-family: sans-serif;
justify-content: center;
font-size: 44px;
padding-top: 150px;
position: absolute;
right: 629px;
}


.foo-1{
    width: 100%;
    position: relative;
    top: 450px;
    color: #fff;
    padding: 0px 20px 0px 20px;
    display: flex;
    height: 100%;
    text-align: center;
    
    flex-direction: column;

    min-height: 88px;
    background-color: #39394d;

    flex-direction: row;
    flex-wrap: wrap;
}



.foo-1 #div-1,.div-2,.div-3,.div-4{
margin: 1em;

height: 150px;
display: flex;
text-align: center;
padding-top: 40px 0px 0px 50px;



}
#div-1{
    
    background-color: #747171;
    width: 20%;


}

.div-2{
    background-color: #747171;
    width: 20%;

}

.div-3{
    background-color: #747171;
    width: 20%;
}
.div-4{
    background-color: #747171;
    width: 20%;
}